
	<ul class="large-block-grid-2">
<% for menu in @menus %>
	


		<li class="texty"><h2><%= link_to menu.name, menu_plates_path(menu) %></h2>
		<%= image_tag menu.image.url(:medium) %></li>



<% end %>



	</ul>
	
	<%= link_to "New Menu", new_menu_path, class: 'btn btn-success' %>