<h1 class="home-head">Provenders Online Menu</h1>
<p class="home-p"><strong>Please select a menu</strong></p>


<div class="texty">
<%= link_to "Appetizer"%><br /><br />


<%= link_to %><br /><br />


<%= link_to %><br /><br />
</div>